.span-24.last.pair
  .span-4.label list by
  .span-8.last.value= @item
.span-24.last
  %table.push-1.last
    - @results.each do |result|
      %tr
        %td.span-10
          %a{:href => "#{@detail_link}/#{result["_id"]}"}= result["_id"]
        %td.span-3.last{:style=> "text-align:right"}= commify(result["value"].to_i)
  .span-12
    - if @skip_value > 0 then
      %a.span-4{:href => @last_link} <- Last 
    - else 
      .span-4 <- Last
    - if @skip_value + 20 <= @count then
      %a.span-3{:href => @next_link} Next ->
    - else
      .span-4 Next ->

